/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparaçãoString/nbproject/private/
/ComparaçãoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
